.section2-container {
    background-color: #fff;
    color: #309975;
    text-align: center;
    gap: 20px;
}

.section2-container h1 {
    font-size: 2.3rem;
}

.section2-content {
    display: flex;
    justify-content: center;
    gap: 20px;
}

